<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    @for(i of images; track i; let idx = $index){
      <button 
        type="button" 
        data-bs-target="#myCarousel" 
        [attr.data-bs-slide-to]="idx"
        [class.active]="idx == index"
        (click)="GetImage(idx)">
      </button>
    }
  </div>

  <div class="carousel-inner rounded-4 shadow">
    @for(i of images; track i; let idx = $index){
      <div class="carousel-item" [class.active]="idx == index">
        <img [src]="i" class="d-block w-100" style="height: 450px; object-fit: cover;">
      </div>
    }
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" (click)="prev()">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" (click)="next()">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>